button.add {
    font-size: 25px;
    background: green;
    /* padding-left: 0px; */
    padding: 10px;
  }
  button.remove {
    font-size: 25px;
    background: green;
    /* padding-left: 0px; */
    padding: 10px;
  }
  h1.shop {
    text-align: center;
}

